.container {
    width: 80%;
    margin: auto;
    background-color: #fcf7f7;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: orange;
}

.button {
    background-color: #333333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background: red;
    color: white;
}

.box-1 {
    background-color: darkgray;
    border: 5px red solid;
    border-bottom-width: 10px;
    border-top-style: dotted;

    padding: 20px;

    margin: 20px 0
}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px #ccc solid;
    border-radius: 15px;
    padding: 10px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: none;
    padding-left: 20px;
}

.categories li {
    padding-bottom: 8px;
    border-bottom: 1px dotted #333;
    list-style-image: url('images/check-box.jpg');
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
}

.some-block {
    float: left;
    width: 33.3%;
    border: 1px solid;
    padding: 10px;
    box-sizing: border-box; /*    flex box will be elegant here*/

}

.clr {
    clear: both;
}
/*
position default is static, there is no effect of top, bottom, right and left when value is static

 */
.p-box {
    margin-top: 20px;
    width: 800px;
    height: 500px;
    border: 1px solid #000000;
    position: relative;
    background-image: url("images/bgimage.jpg");
    background-position: 100px 200px;
    /*background-position: center center;*/
}

/*
generally absolute position is given to elements whose ancestor's position is relative
 */
.p-box h1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2 {
    position: absolute;
    bottom: 40px;
    right: 200px;
}

.fix-me {
    position: fixed;
    top: 400px;
}

/*sudo classes in css3*/
.my-list li:first-child {
    background: red;
}
.my-list li:last-child {
    background: blue;
}
.my-list li:nth-child(5) {
    background: yellow;
}

.my-list li:nth-child(even) {
    background: #cccccc;
}
